/**
 *  BANNER MODULE
 *
 *  styling for "become an instructor" and "studytube for organizaiton" banners
 *
 *  .banner 
 *    &__icon
 *    &--alt
 *    &--popover
 *
 */
.banner {
  position: relative;
  display: block;

  font-size: 14px;

  border-radius: 4px;

  &__icon {
    position: absolute;
    top: 50%; left: $global-baseline * 2;
    margin-top: -$global-baseline; // height of the icon
  }
}
  .banner--alt {
    padding:  ($global-baseline * 2 - 2px)
              $global-baseline * 2
              ($global-baseline * 2 - 2px)
              $global-baseline * 4;

    font-family: $global-font-family-soft;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;

    color: white;
    border: 2px solid #5A5A5A;
  }