.banner {
  display: block;
  text-align: center;
  border: 1px solid $color-border;
}
  .banner--instructor {
    // ...
  }
  .banner--corporate {
    // ...
  }
  .banner--offscreen-panel {
    padding: $global-baseline 0;
    background: white;
  }
  .banner--footer {
    padding: $global-baseline * 2 0;
    background: white;
  }