.bgimg {
  @extend %center;

  background-position: center center;
  background-size: cover;

  &__content {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
  }
}

.bgimg-landing-pitch {
  @extend .bgimg;

  $heights: (
    small: $global-baseline * 35,
    medium: $global-baseline * 45,
  );

  height: map-get($heights, small);
  background-image: url('//placehold.it/600x#{map-get($heights, small)}');

  @include breakpoint( map-get($breakpoint-expressions, medium) ) {
    background-image: url('//placehold.it/960x#{map-get($heights, small)}');
  }

  @include breakpoint( map-get($breakpoint-expressions, large) ) {

    height: map-get($heights, medium);
    background-image: url('//placehold.it/1200x#{map-get($heights, medium)}');
  }

  @include breakpoint( map-get($breakpoint-expressions, xlarge) ) {

    height: map-get($heights, medium);
    background-image: url('//placehold.it/1500x#{map-get($heights, medium)}');
  }
}