.bgimg {
  @extend %center;

  background-position: center center;
  background-size: cover;

  &__content {
    display: inline-block;
    vertical-align: middle;
    max-width: 99%;
  }
}

.bgimg-landing-pitch {
  @extend .bgimg;

  $height: (
    small: $global-baseline * 30,
    medium: $global-baseline * 40,
    large: $global-baseline * 50
  );

  height: map-get($height, small);
  background-image: url('//placehold.it/840x#{map-get($height, small)}');

  @include breakpoint('(min-width: #{map-get($breakpoints, medium)})') {

    height: map-get($height, medium);
    background-image: url('//placehold.it/1200x#{map-get($height, medium)}');
  }

  @include breakpoint('(min-width: #{map-get($breakpoints, large)})') {

    height: map-get($height, large);
    background-image: url('//placehold.it/1400x#{map-get($height, large)}');
  }
}