.bgimg {
  @extend %center;

  background-position: center center;
  background-size: cover;

  &__content {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
  }
}

.bgimg-landing-pitch {
  @extend .bgimg;

  $heights: (
    small: $global-baseline * 35,
    medium: $global-baseline * 45,
  );

  height: map-get($heights, small);
  background-image: url('//placehold.it/600x#{map-get($heights, small)}');

  @include breakpoint( map-get($breakpoint-expressions, p4) ) {
    background-image: url('//placehold.it/960x#{map-get($heights, small)}');
  }

  @include breakpoint( map-get($breakpoint-expressions, p8) ) {

    height: map-get($heights, medium);
    background-image: url('//placehold.it/1200x#{map-get($heights, medium)}');
  }

  @include breakpoint( map-get($breakpoint-expressions, p12) ) {

    height: map-get($heights, medium);
    background-image: url('//placehold.it/1500x#{map-get($heights, medium)}');
  }
}

.bgimg-browse-banner {
  @extend .bgimg;

  $height: $global-baseline * 20;

  height: $height;
  background-image: url('//placehold.it/600x#{$height}');

  @include breakpoint( map-get($breakpoint-expressions, p4) ) {
    background-image: url('//placehold.it/960x#{$height}');
  }

  @include breakpoint( map-get($breakpoint-expressions, p8) ) {

    height: $height;
    background-image: url('//placehold.it/1200x#{$height}');
  }

  @include breakpoint( map-get($breakpoint-expressions, p12) ) {

    height: $height;
    background-image: url('//placehold.it/1500x#{$height}');
  }
}

.bgimg-organization-profile {
  @extend .bgimg;

  $height: $global-baseline * 20;

  height: $height;
  background-image: url('//placehold.it/1200x#{$height}');
}