.course-about {
  // ...

  &__title {
    font-size: 18px;
  }

  &__body {
    @extend %content-formatting;
  }
}

.ca-checkpoint {
  display: inline-block;

  &__title {
    display: block;
    font-weight: 600;
  }

  &__body {
    // ...
  }
}