.course-info {
  // ...

  &__title {
    font-size: 28px;
    line-height: $global-baseline * 4;
  }

  &__body {
    @extend %content-formatting;
  }
}

.ci-organization {
  // ...

  &__thumb {
    display: block;
  }

  &__text {
    @extend %content-formatting;
  }
}