.flyout-video {
  position: relative;
  display: block;
  height: 100%; width: 100%;

  padding: $global-baseline * 4;

  background: rgba(black, 0.85);

  &__trigger {
    position: absolute;
    top: 0; left: 0;

    display: block;
    width: $global-baseline * 6;
    height: 100%;

    margin-left: -$global-baseline * 6;

    color: white;
    background: rgba(black, 0.85);
  }

  &__closelink {
    position: absolute;
    top: $global-baseline * 2; right: $global-baseline * 2;

    color: white;
  }

  &__embed {
    position: relative;

    display: block;
    margin: 0 auto;

    width: $global-baseline * 37 * 1.67;
    height: 100%;
  }
}
