/**
 *  HEADER POPOVER MODULE
 *
 *  styling for "browse" and "current user" popover in
 *  the header
 *
 *  .header-popover
 *    &--pivot-left
 *    &--pivot-right
 *    &--wide
 *    <>--  .hp-header
 *            &__title
 *    <>--  .hp-block
 *            &__title
 *
 */
.header-popover {
  position: absolute;
  top: 0;
  z-index: 1;

  display: block;
  width: $global-baseline * 20;
  padding:  0 
            $global-baseline * 3/2;
  
  background: $color-bg-quaternary;
  box-shadow: 0 0 0 4px rgba(#F4F4F4, 0.2);
}
  .header-popover--pivot-left {
    left: 0;
  }
  .header-popover--pivot-right {
    right: 0;
  }
  .header-popover--wide {
    width: $global-baseline * 52;
  }

.hp-header {
  border-bottom: 2px solid #444444;
  height: $page-header-height + 1px;
  padding: 0 $global-baseline;

  &__title {
    display: block;

    font-family: $global-font-family-soft;
    font-size: 16px;
    font-weight: 600;
    line-height: $page-header-height;
  }
}

.hp-block {
  display: block;
  padding:  $global-baseline * 2
            $global-baseline;

  &__title {
    font-size: 12px;

    text-transform: uppercase;

    opacity: 0.3;
  }

  & + & {
    padding-top: $global-baseline * 2 - 2px;

    border-top: 2px solid #444444;
  }
}