/**
 *  PAGE CONTENT MODULE
 *
 *  styling for the main page content
 *
 *  .page-content
 *    <>--  .pc-section
 *            &__highlight
 *            &__title-primary
 *            &__title-secondary
 *            &__title-supplement
 *            &--alt
 *            &--small
 *            &--large
 *            &--landing-page
 *            <>--  .pcs-title-tertiary
 *                    &__text
 *                    &--alt
 *          <---  .pc-section-course-page
 *                  &__coverimg
 *                  &__content
 *
 *    <>--  .pc-header
 *            &--large
 *            &--browse-page
 *            &--faculty-page
 *            <>--  .pch-content
 *                    &__title-primary
 *                    &__title-secondary
 *
 */
.page-content {
  position: relative;
  z-index: 0;
  // padding-top: $page-header-height;
}

.pc-section {
  padding:  $global-baseline * 5
            0;

  &__highlight {
    font-size: 22px;
    font-weight: 300;

    color: $color-tx-muted;
  }

  &__title-primary {
    font-family: $global-font-family-soft;
    font-size: 42px;
    line-height: $global-baseline * 5;
    
    color: $color-tx-darkened;
  }

  &__title-secondary {
    font-size: 26px;
    font-weight: 300;
    line-height: $global-baseline * 3;

    color: $color-tx-darkened;
  }

  &__title-supplement {
    font-weight: 600;

    white-space:nowrap;
    
    color: $color-dc-secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}
  .pc-section--small {
    padding:  $global-baseline * 3
              0;
  }
  .pc-section--large {
    padding:  $global-baseline * 7 
              0;
  }
  .pc-section--alt {
    background: $color-bg-secondary;
    box-shadow: inset 0 2px 0 0 #F3F3F3,
                      0 2px 0 0 $color-dc-primary;
  }
  .pc-section--contrast {
    background: $color-bg-quaternary;

    .pc-section__title-primary,
    .pc-section__title-secondary {
      color: white;
    }
  }
  .pc-section--landing-page {
    padding: 20%
             0
             10%
             0;
    margin-top: - $page-header-height;

    background: url('/images/landing-bg.jpg') $color-bg-quaternary;
    background-size: cover;

    .pc-section__title-primary {
      color: white;
    }
  }

.pc-section-course-page {
  position: relative;
  padding: 0;
  overflow: hidden;

  background: $color-bg-quaternary;

  &__coverimg {
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    display: block;
    height: 100%; width: 100%;

    opacity: 0.4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include filter(blur(10px));
  }

  &__content {
    position: relative;
    z-index: 1;

    display: block;
    padding:  $global-baseline * 3
              0
              $global-baseline * 7
              0;
  }

  .pc-section__title-primary {
    color: white;
  }
}

.pcs-title-tertiary {
  overflow: hidden;
  
  line-height: 0;

  text-align: center;

  &__text {
    position: relative;
    display: inline-block;
    vertical-align: top;

    font-size: 12px;
    font-weight: 600;
    line-height: $global-baseline * 3;

    text-align: center;
    text-transform: uppercase;

    color: $color-tx-muted;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: $global-baseline * 3/2;
      border-bottom: 2px solid $color-border;
      top: 0;
      width: $max-width;
    }

    &:before {
      right: 100%;
      margin-right: $global-baseline;
    }
    &:after {
      left: 100%;
      margin-left: $global-baseline;
    }
  }
}
  .pcs-title-tertiary--alt {
    // ...

    .pcs-title-tertiary__text {
      // ...

      &:before,
      &:after {
        border-color: #404040;
      }
    }
  }

.pc-header { 
  @extend %center;

  height: $global-baseline * 19;
  padding: 0 $global-baseline * 2;

  text-align: center;

  background-color: $color-bg-quaternary;
}
  .pc-header--large {
    // ...
  }
  .pc-header--browse-page {
    background-image: url('/images/browse-bg.png');
    background-size: cover;
  }
  .pc-header--faculty-page {
    background-image: url('/images/faculty-bg.jpg');
  }

.pch-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;

  &__title-primary {
    @extend .pc-section__title-primary;

    color: white;
  }

  &__title-secondary {
    @extend .pc-section__title-secondary;

    color: white;
  }
}