/**
 *  PROFILE MODULE
 *
 *  styling and responsive handling for instructor and company profile
 *
 *  .profile
 *    &__description
 *      &--centered
 *    &__aside
 *      <>--  .p-contacts
 *              &__item
 *                &--pushed
 *      <>--  .p-reviews
 *              &__detailslink
 *      <>--  .p-image
 *              &__avatar
 *              &__videolink
 *              &--pulled
 *    &__cover
 *      <>--  .p-cover
 *              &__body
 *
 */
.profile {
  @extend %cf;

  &__description {
    overflow: hidden;
  }
    &__description--centered {
      text-align: center;

      @include breakpoint( map-get($breakpoint-expressions, p6) ) {
        text-align: left;
      }
    }

  &__aside {
    @include breakpoint( map-get($breakpoint-expressions, p6) ) {
      margin-right: $global-baseline * 6;
      float: left;
      clear: left;
    }
  }

  &__cover {
    display: none;
    position: relative;

    background-color: $color-bg-quaternary;

    @include breakpoint( map-get($breakpoint-expressions, p6) ) {
      display: block;
    }

    &:before {
      content: '';
      display: block;
      min-height: 180px;
      padding-top: 18%;
    }
  }
}

.p-image {
  position: relative;
  display: block;
  width: $global-baseline * 16;
  margin: 0 auto;

  @include breakpoint( map-get($breakpoint-expressions, p6) ) {
    width: $global-baseline * 22;
  }

  &__avatar {
    display: block;
    max-width: 100%;

    border-radius: 50%;

    box-shadow: 0 1px 2px rgba($color-tx-muted, 0.5);
  }

  &__videolink {
    position: absolute;
    top: 0; right: 0;
    display: block;
    padding: $global-baseline * 5/2;

    background: $color-bg-quaternary;
    background: rgba($color-bg-quaternary, 0.95);
    border-radius: 50%;
  }
}
  .p-image--pulled {
    @include breakpoint( map-get($breakpoint-expressions, p6) ) {
      margin-top: - $global-baseline * 8.5;
    }
  }

.p-contacts {
  width: $global-baseline * 22;
  margin: 0 auto;

  &__item {
    display: block;
  }
    &__item--pushed {
      @include breakpoint( map-get($breakpoint-expressions, p6) ) {
        margin-top: $global-baseline * 3;
      }
    }
}

.p-reviews {
  width: $global-baseline * 22;
  margin: -2px auto 0 auto; // move up to compensate mismatch between border-top and border-bottom on other element
  padding-top: $global-baseline * 2;

  font-family: $global-font-family-soft;

  text-align: center;

  color: $color-tx-muted;
  border-top: 2px solid $color-border;
}

.p-cover {
  @extend %center;

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  text-align: center;

  &__image {
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%; height: 100%;
    opacity: 0.3;

    background-size: cover;
    background-repeat: no-repeat;
  }

  &__videolink {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 95%;
    padding: $global-baseline * 5/2;

    background: $color-bg-quaternary;
    background: rgba($color-bg-quaternary, 0.95);
    border-radius: 50%;
  }
}