/**
 *  PUBLICATION MODULE
 *
 *  styling for publications on instructor profile page
 *
 *  .publication
 *    &__name
 *    &__source
 *    <>--  .pub-cover
 *            &__image
 *
 */
.publication {
  // ...

  &__name {
    font-family: $global-font-family-soft;
    font-size: 18px;
    font-weight: 700;

    color: #6B6A6A;
  }

  &__source {
    font-weight: 600;
    line-height: $global-baseline * 3;

    text-decoration: underline;

    color: $color-dc-secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

.pub-cover {
  position: relative;
  width: $global-baseline * 5;
  height: $global-baseline * 7;
  
  overflow: hidden;

  border-radius: 0 4px 4px 0;
  background: $color-tx-darkened;
  box-shadow: 0 2px 0 0 #E8E8E8;

  &__image {
    display: block;
    max-width: 100%;

    opacity: 0.9;
  
    border-radius: 0 6px 6px 0;
  }

  &:before {
    content: '';
    display: block;
    width: $global-baseline;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;

    background: rgba($color-tx-darkened, 0.3);
  }
}