/**
 *  CONTENT PARTIAL
 *
 *  provides default formatting styles for content elements: paragraphs, headings, lists, links etc
 *
 */

%content-formatting {
  // nothing here for now...

  p {
    margin-bottom: $global-baseline * 2;
  }

  ul {
    margin-bottom: $global-baseline * 2;
    margin-left: $global-baseline * 2;

    list-style-type: disc;
    list-style-position: outside;
  }

  ol {
    margin-bottom: $global-baseline * 2;
    margin-left: $global-baseline * 2;

    list-style-type: decimal;
    list-style-position: outside;
  }

  li {
    margin-bottom: $global-baseline;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  h1 {
    font-size: 30px;
    line-height: $global-baseline * 4;
    margin-bottom: $global-baseline * 4;
  }

  h2 {
    font-size: 24px;
    line-height: $global-baseline * 3;
  }
}