.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.icon-badge { background-image: url('png/badge.png'); background-repeat: no-repeat; }

.icon-book { background-image: url('png/book.png'); background-repeat: no-repeat; }

.icon-button-facebook { background-image: url('png/button-facebook.png'); background-repeat: no-repeat; }

.icon-button-googleplus { background-image: url('png/button-googleplus.png'); background-repeat: no-repeat; }

.icon-button-linkedin { background-image: url('png/button-linkedin.png'); background-repeat: no-repeat; }

.icon-button-twitter { background-image: url('png/button-twitter.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-case-alt { background-image: url('png/case-alt.png'); background-repeat: no-repeat; }

.icon-course-chat { background-image: url('png/course-chat.png'); background-repeat: no-repeat; }

.icon-course-clock { background-image: url('png/course-clock.png'); background-repeat: no-repeat; }

.icon-course-lock { background-image: url('png/course-lock.png'); background-repeat: no-repeat; }

.icon-course-play { background-image: url('png/course-play.png'); background-repeat: no-repeat; }

.icon-course-user { background-image: url('png/course-user.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon-dropdown-arrow { background-image: url('png/dropdown-arrow.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-lamp { background-image: url('png/lamp.png'); background-repeat: no-repeat; }

.icon-list { background-image: url('png/list.png'); background-repeat: no-repeat; }

.icon-mail-alt { background-image: url('png/mail-alt.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-pdf { background-image: url('png/pdf.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon-social-facebook-alt { background-image: url('png/social-facebook-alt.png'); background-repeat: no-repeat; }

.icon-social-facebook { background-image: url('png/social-facebook.png'); background-repeat: no-repeat; }

.icon-social-linkedin-alt { background-image: url('png/social-linkedin-alt.png'); background-repeat: no-repeat; }

.icon-social-linkedin { background-image: url('png/social-linkedin.png'); background-repeat: no-repeat; }

.icon-social-twitter-alt { background-image: url('png/social-twitter-alt.png'); background-repeat: no-repeat; }

.icon-social-twitter { background-image: url('png/social-twitter.png'); background-repeat: no-repeat; }

.icon-social-website { background-image: url('png/social-website.png'); background-repeat: no-repeat; }

.icon-st-logo { background-image: url('png/st-logo.png'); background-repeat: no-repeat; }

.icon-star-small { background-image: url('png/star-small.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('png/star.png'); background-repeat: no-repeat; }

.icon-wheel-alt { background-image: url('png/wheel-alt.png'); background-repeat: no-repeat; }

