/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */
.reference-image {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

.browse-tiles {
  @include breakpoint( map-get($breakpoint-expressions, p8) ) {
    font-size: 14px;
  }
}