// baseline
  $global-baseline: 12px;

// typography
  $global-font-family: sans-serif;
  $global-font-size: 14px;
  $global-line-height: $global-baseline * 2;

// colors
  $color-tx: black;
  $color-tx-muted: #CCCCCC;

  $color-bg: white;
  $color-border: #AAAAAA;

  $color-dc-primary: blue;
  $color-dc-secondary: green;

// layout
  //max-width: (  size reserved for columns  ) + (size reserved for grid gutter)
  $max-width:  ( ($global-baseline * 7) * 12 ) + ( ($global-baseline * 4) * 11 );

  $page-header-height: $global-baseline * 5;

// breakpoints
  $breakpoints: (
    p0:     $global-baseline * 30,  // 360px
    p2:     $global-baseline * 40,  // 480px
    p4:     $global-baseline * 55,  // 660px
    p6:     $global-baseline * 70,  // 840px
    p8:     $global-baseline * 80,  // 960px
    p10:    $global-baseline * 95,  // 1140px
    p11:    $global-baseline * 100, // 1200px
    p12:    $global-baseline * 110  // 1320px
  );

  $breakpoint-expressions: (
    p0:  '(min-width: #{map-get($breakpoints, p0)} )',
    p2:  '(min-width: #{map-get($breakpoints, p2)} )',
    p4:  '(min-width: #{map-get($breakpoints, p4)} )',
    p6:  '(min-width: #{map-get($breakpoints, p6)} )',
    p8:  '(min-width: #{map-get($breakpoints, p8)} )',
    p10: '(min-width: #{map-get($breakpoints, p10)} )',
    p11: '(min-width: #{map-get($breakpoints, p11)} )',
    p12: '(min-width: #{map-get($breakpoints, p12)} )'
  );