// baseline
  $global-baseline: 12px;

// typography
  $global-font-family: sans-serif;
  $global-font-size: 14px;
  $global-line-height: $global-baseline * 2;

// colors
  $color-tx: black;
  $color-tx-muted: #CCCCCC;

  $color-bg: white;
  $color-border: #AAAAAA;

  $color-dc-primary: blue;
  $color-dc-secondary: green;

// layout
  //max-width: (  size reserved for columns  ) + (size reserved for grid gutter)
  $max-width:  ( ($global-baseline * 7) * 12 ) + ( ($global-baseline * 4) * 11 );

  $page-header-height: $global-baseline * 5;

// breakpoints
  $breakpoints: (
    small: $global-baseline * 30,
    medium: $global-baseline * 50,
    large: $global-baseline * 80,
    xlarge: $global-baseline * 100
  );

  $breakpoint-expressions: (
    small:  '(min-width: #{map-get($breakpoints, small)} )',
    medium: '(min-width: #{map-get($breakpoints, medium)} )',
    large:  '(min-width: #{map-get($breakpoints, large)} )',
    xlarge: '(min-width: #{map-get($breakpoints, xlarge)} )'
  );